*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Rubik', sans-serif;                                                
  list-style-type: none;
}

.header
{
  background: white;
  height: 40px;
}

.body
{
  background: rgb(244,245,248);
  height: 1000px;
}

.app {
  text-align: left;
  padding: 20px;
}

.ticket-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.tickets{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topBar {
  height: 80px;
  border: 2px solid red;
}

.topBar button{
  background-color: white;
  padding: 0.2rem 0.6rem;
  border: 2px solid #f9f9f9;
  border-radius: 5px;
  font-size: 18px;
}

